.posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

  
.poster{
    height: auto;
}

.scrollbg{
    background-color: rgb(240, 240, 240);
}

.main-div {
    border-right: 5px solid rgb(156, 156, 156);
    
}



.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #ff0048;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #ff0000;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .project-info a {
    text-decoration: none;
    color: #007bff;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .project-info .description {
    white-space: normal; 
    overflow: visible; 
    text-overflow: unset; 
  }
  
  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
  }
  .project-info a {
    text-decoration: none;
    color: #007bff;
    word-break: break-all;
  }
  
  .project-info .description {
    white-space: normal; 
    overflow: visible;
  }



  .skill-card {
   
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    transition: all 0.3s;
    cursor: pointer;
    width: 120px;
  }

  .skill-card:hover {
    transform: scale(1.05);
  
  }

  .skill-name {
    font-weight: bold;
    text-align: center;
  }

  .skill-icon {
    width: 20px;
    margin-right: 8px;
  }
